/* no TOPO do arquivo, antes de qualquer regra */
* {
    padding: 0%;
    margin: 0%;
}
:root {
   --fundo_cabecalho: #ddeec4; /* cabeçalho, títulos */
   --texto_cabecalho: #374D12; /* texto EM CIMA dela */
   --card: #96b4c8; /* cartões, conteúdo */
   --texto_card: #223C4D; /* textos do card, destaques*/
   --apoio: #2B6770; /* botões, destaques */
   --texto_apoio: #E4F0F2; /* botões, destaques */
   --fundo: #f6fdeb; /* o fundo da página */
   --texto: #213303; /* a cor das letras */
}


.saira {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
}


.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* testes */


.principal{
    background-color: var(--fundo_cabecalho);
    color: var(--texto_cabecalho);
    text-align: center;
}
.apoio{
    background-color: var(--apoio);
    color: var(--texto_apoio);
}
.fundo_pag{
    background-color: var(--fundo);
    color: var(--texto);
}
.superficie{
    background-color: var(--card);
    color: var(--texto_card);
}




