/* no TOPO do arquivo, antes de qualquer regra */
* {
    padding: 0%;
    margin: 0%;
}
:root {
    /* cores do tema claro */
   --claro-fundo-cabecalho: #ddeec4; /* cabeçalho, títulos */
   --claro-texto-cabecalho: #374D12; /* texto EM CIMA dela */

   --claro-card: #96b4c8; /* cartões, conteúdo */
   --claro-texto-card: #223C4D; /* textos do card, destaques*/

   --claro-apoio: #2B6770; /* botões, destaques */
   --claro-texto-apoio: #E4F0F2; /* botões, destaques */

   --claro-fundo: #f6fdeb; /* o fundo da página */
   --claro-texto: #213303; /* a cor das letras */

   /* cores do tema escuro */
   --escuro-fundo-cabecalho: #05152b; /* cabeçalho, títulos */
   --escuro-texto-cabecalho: #7992B5; /* texto EM CIMA dela */

   --escuro-card: #233520; /* cartões, conteúdo */
   --escuro-texto-card: #A9C1A5; /* textos do card, destaques */

   --escuro-apoio: #42523F; /* botões, destaques */
   --escuro-texto-apoio: #A2CA9B; /* botões, destaques */

   --escuro-fundo: #020D1C; /* o fundo da página */
   --escuro-texto: #D4E6FF; /* a cor das letras */
}


.saira {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
}


.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*formatações*/
body {
    
}
main {
    background-color: var(--claro-fundo);
    color: var(--claro-texto);
}
section {
    background-color: var(--claro-fundo);
    color: var(--claro-texto);
}

h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.25rem;
}

p {
    color: var(--claro-texto);
}
a {
    text-decoration: none;
    color: var(--claro-texto-apoio);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    /* Estilização da Base */
    background-color: var(--claro-apoio); /* Sem fundo */
    border: 1px solid transparent; /* Borda invisível (mas existente para manter o tamanho) */
    padding: 0.375rem 0.75rem; /* Espaçamento interno padrão */
    font-size: 1rem;
    border-radius: 0.375rem; /* Cantos arredondados */

    /* Efeito de Transição Suave */
    transition: color 0.15s ease-in-out, 
    background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, 
    box-shadow 0.15s ease-in-out;
}
img {
    height: auto;
    max-width: 100%;
}
/* testes claro */

.principal-claro{
    background-color: var(--claro-fundo-cabecalho);
    color: var(--claro-texto-cabecalho);
    text-align: center;
}
.apoio-claro{
    background-color: var(--claro-apoio);
    color: var(--claro-texto-apoio);
}
.fundo-pag-claro{
    background-color: var(--claro-fundo);
    color: var(--claro-texto);
}
.superficie-claro{
    background-color: var(--claro-card);
    color: var(--claro-texto-card);
}


/*testes escuro */

.principal-escuro{
    background-color: var(--escuro-fundo-cabecalho);
    color: var(--escuro-texto-cabecalho);
    text-align: center;
}
.apoio-escuro{
    background-color: var(--escuro-apoio);
    color: var(--escuro-texto-apoio);
}
.fundo-pag-escuro{
    background-color: var(--escuro-fundo);
    color: var(--escuro-texto);
}
.superficie-escuro{
    background-color: var(--escuro-card);
    color: var(--escuro-texto-card);
}




.logos{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.miniL{
    height: auto;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; 
}