/*formatações*/
/*
--------------------------------------------------------------------------
    3.   Página e conteúdo — Isabella Oliveira
    4.   Cabeçalho e menu — Thiago Hermont
    5.   Tabela — Arthur Henrique
    6.   Formulário e rodapé — Guilherme Rocha
-------------------------------------------------------------------------- 
*/
    * {
        padding: 0rem;
        margin: 0rem;
        gap: 0rem;
        box-sizing: border-box;
    }

    body {
        background-color: var(--fundo);
        font: var(--fonte_principal);
    }

    header {
        margin: 0;
        padding: 0%;

        background-color: var(--fundo-cabecalho);
        color: var(--texto-cabecalho);
        font: var(--fonte_secundaria);

        display: flex;
        align-items: center;
        justify-content: center;
    } 

    nav {
        background-color: var(--apoio);

    }

    main {
        margin: 0;
        padding: 0;
        background-color: var(--fundo);
        color: var(--texto);
    }
    section {
        margin: 0;
        padding: 0;
        background-color: var(--fundo);
        color: var(--texto);
    }
    ul {
        margin: 0;
        padding: 0;

        display: flex;
        text-align: left;
        list-style: none;

        background-color: var(--card);
        color: var(--texto-card);

        font-size: 1rem;
        gap: 15px
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 2.25rem;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-size: 1.75rem;
    }
    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
    }

    p {
        margin: 0;
        padding: 0;
        color: var(--texto);
    }
    a {
        text-decoration: none;
        color: var(--texto-apoio);
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        

        /* Estilização da Base */
        background-color: var(--apoio); /* Sem fundo */
        border: 1px solid transparent; /* Borda invisível (mas existente para manter o tamanho) */
        padding: 0.375rem 0.75rem; /* Espaçamento interno padrão */
        font-size: 1rem;
        border-radius: 0.375rem; /* Cantos arredondados */

        /* Efeito de Transição Suave */
        transition: color 0.15s ease-in-out; 
        background-color: 0.15s ease-in-out; 
        border-color: 0.15s ease-in-out; 
        box-shadow: 0.15s ease-in-out;
    }
    img {
        height: auto;
        max-width: 100%;
        display: flex;
    }
    /* para rolagem horizontal em dispositivos moveis */
    .table-container {
        overflow-x: auto;
    }
    table {
       font: var(--fonte-principal);
       text-align: center;
       border-collapse: collapse;
       width: 70%;
       margin-block: 2rem;
       margin-inline: auto;
    }
   
    caption {
       font-family: var(--fonte-principal);
       caption-side: top;
       font-weight: bold;
       text-transform: uppercase;
       text-align: center;
       margin: auto;
    }
    
    th, td {
       border: 1px solid var(--fundo);
       padding: 10px 14px;
       margin: 0 auto;
       text-align: center;
       border-radius: 0.375rem;
    }

    thead th {
       background-color: var(--card); 
       color: var(--texto-card);
    }
    
    tbody tr:nth-child(even) {
       background-color: var(--fundo-cabecalho);
       color: var(--texto-cabecalho);
       text-align: center;
    }
    
    tbody tr:nth-child(odd) {
      background-color: var(--fundo);
      color: var(--texto);
      text-align: center;
    }
    
    tbody tr:hover {
      background-color: var(--apoio);
      color: var(--texto-apoio);
    }

    form {
        background-color: var(--card) ;
        background-size: 2rem;
        display:flex;
        background-position-x: center;
        background-position-y: center;
        flex-direction: column;
        align-items: center;
        width:30rem;
        margin:auto;
        border-radius: 2rem;
        color: var(--texto-card);
        gap: 1rem;

    }
    
    input {
        border-radius: 5rem;
        width:20rem;  
        
    }


    span{
        color:var(--texto-card);
    }

    

    legend {
        display: flex;
        justify-content: center;


        
    }

/*testes */
    .principal {
        background-color: var(--fundo-cabecalho);
        color: var(--texto-cabecalho);
        text-align: center;
    }
    .apoio {
        background-color: var(--apoio);
        color: var(--texto-apoio);
    }
    .fundo-pag {
        background-color: var(--fundo);
        color: var(--texto);
    }
    .superficie {
        background-color: var(--card);
        color: var(--texto-card);
    }


    .logos {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;  
    }

    .miniL {
        height: auto;
        width: 100px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px; 
    }
