/* no TOPO do arquivo, antes de qualquer regra */
:root {
   --principal: #BEE6C6; /* cabeçalho, títulos */
   --sobre-principal: #295431; /* texto EM CIMA dela */
   --apoio: #1B3266; /* botões, destaques */
   --fundo: #EFEDEB; /* o fundo da página */
   --superficie: #78C1ED; /* cartões, conteúdo */
   --texto: #57656E; /* a cor das letras */
   
}

.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
