/* no TOPO do arquivo, antes de qualquer regra */
    * {
        padding: 0rem;
        margin: 0rem;
        gap: 0rem;
        box-sizing: border-box;
    }
    :root {
        /* cores do tema escuro */
            --fundo-cabecalho: #05152b; /* cabeçalho, títulos */
            --texto-cabecalho: #7992B5; /* texto EM CIMA dela */

            --card: #233520; /* cartões, conteúdo */
            --texto-card: #A9C1A5; /* textos do card, destaques */

            --apoio: #42523F; /* botões, destaques */
            --texto-apoio: #A2CA9B; /* botões, destaques */

            --fundo: #020D1C; /* o fundo da página */
            --texto: #D4E6FF; /* a cor das letras */

        /* fontes */

            --fonte_principal: normal normal 400 1rem "Inter Tight", "Arial" , "sans-serif";
            --fonte_secundaria: normal normal 400 1rem "Saira", "Arial" , "sans-serif";

    }

/*formatações*/

    body {
        background-color: var(--fundo);
        font: var(--fonte_principal);
    }

    header {
        margin: 0;
        padding: 0%;

        background-color: var(--fundo-cabecalho);
        color: var(--texto-cabecalho);
        font: var(--fonte_secundaria);

        display: flex;
        align-items: center;
        justify-content: center;
    } 

    nav {
        background-color: var(--apoio);

    }

    main {
        margin: 0;
        padding: 0;
        background-color: var(--fundo);
        color: var(--texto);
    }
    section {
        margin: 0;
        padding: 0;
        background-color: var(--fundo);
        color: var(--texto);
    }
    ul {
        margin: 0;
        padding: 0;

        display: flex;
        text-align: left;
        list-style: none;

        background-color: var(--card);
        color: var(--texto-card);

        font-size: 1rem;
        gap: 15px
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 2.25rem;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-size: 1.75rem;
    }
    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
    }

    p {
        margin: 0;
        padding: 0;
        color: var(--texto);
    }
    a {
        text-decoration: none;
        color: var(--texto-apoio);
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        

        /* Estilização da Base */
        background-color: var(--apoio); /* Sem fundo */
        border: 1px solid transparent; /* Borda invisível (mas existente para manter o tamanho) */
        padding: 0.375rem 0.75rem; /* Espaçamento interno padrão */
        font-size: 1rem;
        border-radius: 0.375rem; /* Cantos arredondados */

        /* Efeito de Transição Suave */
        transition: color 0.15s ease-in-out; 
        background-color: 0.15s ease-in-out; 
        border-color: 0.15s ease-in-out; 
        box-shadow: 0.15s ease-in-out;
    }
    img {
        height: auto;
        max-width: 100%;
        display: flex;
    }
    /* para rolagem horizontal em dispositivos moveis */
    .table-container {
        overflow-x: auto;
    }
    table {
       font-family:
         var(--fonte-principal),
         var(--fonte-secundaria),
       sans-serif;
       text-align: center;
       border-collapse: collapse;
       width: 70%;
       margin-block: 2rem;
       margin-inline: auto;
    }
   
    caption {
       font-family:
         var(--fonte-principal),
         var(--fonte-secundaria),
       sans-serif;
       caption-side: top;
       font-weight: bold;
       text-transform: uppercase;
       text-align: center;
       margin: auto;
    }
    
    th, td {
       border: 1px solid var(--fundo);
       padding: 10px 14px;
       margin: 0 auto;
       text-align: center;
       border-radius: 0.375rem;
    }

    thead th {
       background-color: var(--card); 
       color: var(--texto-card);
    }
    
    tbody tr:nth-child(even) {
       background-color: var(--fundo-cabecalho);
       color: var(--texto-cabecalho);
       text-align: center;
    }
    
    tbody tr:nth-child(odd) {
      background-color: var(--fundo);
      color: var(--texto);
      text-align: center;
    }
    
    tbody tr:hover {
      background-color: var(--apoio);
      color: var(--texto-apoio);
    }

/*testes escuro */

.principal-escuro{
    background-color: var(--fundo-cabecalho);
    color: var(--texto-cabecalho);
    text-align: center;
}
.apoio-escuro{
    background-color: var(--apoio);
    color: var(--texto-apoio);
}
.fundo-pag-escuro{
    background-color: var(--fundo);
    color: var(--texto);
}
.superficie-escuro{
    background-color: var(--card);
    color: var(--texto-card);
}



.logos{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;  
}

.miniL{
    height: auto;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; 
}