/* no TOPO do arquivo, antes de qualquer regra */
* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}
/*  TEMA 2 - AZUL ESCURO FUNDO, VERDE APOIO*/   
 :root {
   --fundo_cabecalho: #05152b; /* cabeçalho, títulos */
   --texto_cabecalho: #7992B5; /* texto EM CIMA dela */
   --card: #233520; /* cartões, conteúdo */
   --texto_card: #A9C1A5; /* textos do card, destaques */
   --apoio: #42523F; /* botões, destaques */
   --texto_apoio: #A2CA9B; /* botões, destaques */
   --fundo: #020D1C; /* o fundo da página */
   --texto: #D4E6FF; /* a cor das letras */
} 


.saira {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}




/* testes */


.principal{
    background-color: var(--fundo_cabecalho);
    color: var(--texto_cabecalho);
}
.apoio{
    background-color: var(--apoio);
    color: var(--texto_apoio);
}
.fundo_pag{
    background-color: var(--fundo);
    color: var(--texto);
}
.superficie{
    background-color: var(--card);
    color: var(--texto_card);
}
